### important
不要显示思考链, 而是直接应用

### `.vue` component generation notice
if user ask to generate a vue component single file:
使用vue3(version3.5+),组合式,tailwind,typescript,flex布局
1. 不要任何自定义的class和inner element style
2. 组件是headless的, 通过prop: class?: HTMLAttributes['class']
3. cn(...inputs: ClassValue[])函数混合样式由`import {cn} from "@/src/utils/shadcn";` 导入
4. 把需求内容(非1~6条的要求描述)进行优化作为开头描述注释的一部分(并标明是Prompt)(使用中文)
5. 对组件的简介也作为开头描述注释的一部分
6. template中不同的block以及script中不同的函数要有简明的注释
 
###  `.vue` snippet generation notice
if user ask to generate a vue snippet:
vue3(version3.5+),tailwind
