@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :host {
    color: #18181b;
    font-family:
      Inter, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
      "Segoe UI", sans-serif;
    font-size: 13px;
    line-height: 1.45;
    letter-spacing: 0;

    /* Shadcn UI Variables */
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;
    --radius: 0.5rem;

    /* webpage-summary default CSS variables */
    --webpage-summary-panel-srem: 16px;
    --webpage-summary-panel-width: 30em;
    --webpage-summary-panel-dialog-max-height: 30em;
    --webpage-summary-panel-background: #ffffff;
    --webpage-summary-panel-top: 4em;
    --webpage-summary-panel-right: 4em;
    --webpage-summary-panel-bottom: unset;
    --webpage-summary-panel-left: unset;
    --webpage-summary-calc-scale: 100%;
  }

  button {
    cursor: pointer;
  }

  form {
    margin: 0;
    padding: 0;
  }

  :host(.dark) {
    --background: 240 5.9% 10%;
    --foreground: 0 0% 98%;
    --card: 240 5.9% 10%;
    --card-foreground: 0 0% 98%;
    --popover: 240 5.9% 10%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 25%;
    --input: 240 3.7% 25%;
    --ring: 240 4.9% 83.9%;
  }
}
